:root {
  --stats-vertical-spacing: 2vh;
  --stats-horizontal-spacing: 2vh;
  --text-color: "#000000";
  --error-color: "#E64A19";
  --ok-color: "#388E3C";
}

html * {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--background-color); /* passed by flask */
  color: var(--text-color);
  font-size: 62.5%;
  font-family: RobotoMedium;
}

.errormessage {
  background-color: var(--background-color); /* passed by flask */
  display: none;
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%,-50%);
  height: auto;
  width: 70vw;
  max-width: 300px;
  font-size: 1.5rem;
  padding: 1.5rem;
  z-index: 100;

  border-radius: 3px;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.85);
}

.closebutton {
  display: inline-block;
  border: 1px solid black;
  border-radius: 3px;
  font-size: 1rem;
  margin-top: 1.5rem;
  padding: 0.25rem;
  float: right;
  user-select: none;
}

.separator {
  display: inline;
}

.separator::after {
  content: "-";
}

.networkcontainer {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: var(--stats-horizontal-spacing);
  height: auto;
  font-size: 1.25rem;
  vertical-align: middle;
  border-bottom: 1px solid grey;
  box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.5);
}

.network, .network p {
  display: inline;
}

.networkcontainer #symbol {
  margin-left: 0.25rem;
}

.statscontainer {
  margin-top: var(--stats-vertical-spacing);
  margin-left: var(--stats-horizontal-spacing);
  margin-right: var(--stats-horizontal-spacing);
  width: calc(100vw - 2 * var(--stats-horizontal-spacing));

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}

div.stat {
  color: var(--background-color); /* passed by flask */
  min-width: 100px;
  max-width: 400px;
  min-height: 100px;
  max-height: 140px;
  width: calc(50% - var(--stats-vertical-spacing)/2);
  height: 20vh;
  margin-bottom: var(--stats-vertical-spacing);
  position: relative;

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 3px;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.85);
}

.stat p {
  width: 100%;
  text-align: center;
}

.stat p:first-of-type {
  padding-bottom: 0.6rem;
}

@media only screen and (min-width: 992px) {
  :root {
    --stats-vertical-spacing: 5vh;
    --stats-horizontal-spacing: 5vh;
  }

  .errormessage {
    font-size: 1.5rem;
    width: 50vw;
    max-width: 600px;
  }

  .closebutton {
    font-size: 1rem;
    margin-top: 1.5rem;
    padding: 0.5rem;
  }

  .networkcontainer {
    font-size: 3rem;
  }

  .statscontainer {
    margin-top: var(--stats-vertical-spacing);
    font-size: 3rem;
    max-width: 1600px;
  }

  div.stat {
    display: none;
    width: calc(33% - var(--stats-vertical-spacing)/2);
    height: 20vh;
    max-width: 400px;
    max-height: 500px;
  }
}

@media only screen and (min-width: 1399px) {
  .statscontainer {
    justify-content: flex-start;
  }

  div.stat {
    display: none;
    width: calc(25% - var(--stats-vertical-spacing)/2 - var(--stats-horizontal-spacing));
    max-width: 400px;
    max-height: 500px;
    margin-right: var(--stats-horizontal-spacing);
  }
}
