{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/error.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon-error.ico') }}">
{% endblock %}

{% block body %}
  <div class="errorcontainer">
    <div id="errorcode">
      {{ errorcode }}
    </div>
    <div id="errordescription">
      {{ errordescription }}
    </div>
    <div id="goback">
      <a href="{{ url_for('index') }}">take me back</a>
    </div>
  </div>
{% endblock %}
